#account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*Account*/
#account-header, #account-send{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display-account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#display-account-copy{
    margin-left: 10px;
    width: 30px;
}
/*Send */

#account-ether-input, #account-send-button{
    margin-top: 10px;
}

/*network*/

#display-network, #display-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#network-dropdown:hover, option:hover{
    cursor: url("ethereum_black.png"), auto;
}


#display-back-button{
    background: none;
    border: none;
    color: var(--purple);
    font-size: large;
}

#display-copy:hover, #display-back-button:hover, #account-send-button:hover{
    cursor: url("ethereum_black.png"), auto;
}